@import '../../scss/variables';
@import '../../scss/mixins';

.site-header{

        height: 45px;
        padding-top:20px;
        padding-left: 3%;
        img{
            height: 20px;
        }

    @include phone{

        height: 75px;
        padding: 22.5px 0;
        padding-left: 3%;
        img{
            height: 45px;
        }
    }

    @include tablet{

        height: 90px;
        padding: 22.5px 0;
        padding-left: 3%;
        img{
            height: 45px;
        }
    }
}