.footer-container{
    margin-top: 90px;
    background-color: rgba(0, 0, 0, 0.75);
    height: 236px;
    .footer{
        max-width: 1000px;
        margin: 0 auto;
        padding: 30px 0;
        color: #757575;
        p{  
            margin: unset;
            margin-bottom: 30px;
        }
        .navbar{
            height: 31px;
            display: flex;
            justify-content: left;
            align-items: flex-start;
            padding-left: 0;
            margin: 0;
            li{
                font-size: 13px;
                width: 250px;
                list-style: none;
                a{
                    text-decoration: none;
                    color: #757575;
                }
            }
        }

        .languages{
            width: 125px;
            height: 48px;
            margin-top: 20px;
            border: 1px solid #757575;
            background-color: #000000;
            position: relative;
            &::before{
                content: url(../../assets/img/globe.png);
                display: block;
                position: absolute;
                top: 30%;
                left: 10%;
            

            }

            &::after{
                content: url(../../assets/img/down.png);
                display: block;
                position: absolute;
                top: 30%;
                right:5%;
            }

            select{
                width: 100%;
                padding: 12px 26px 12px 40px;
                -webkit-appearance: unset;
                border: unset;
                background-color: black;
                color: #757575;
            }

        }

    }
}