@import '../../scss/variables';
@import '../../scss/mixins';

.container{
    padding: 5% 5% 0 5%;
    @include tablet{
        padding: 60px 68px 40px;
        max-width:450px;
        height: 660px;
        margin: 0 auto;
        background-color: $black2;
    }
}

.login-form{
    legend{
        color:$white;
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 28px;
    }
    .inputs{
        .input-field{
            position: relative;
            margin-bottom: 16px;
            input.invalid{
                border-bottom: 2px solid $secondary;

            }
            input{
                font-size: 1rem;
                height: 50px;
                width: 100%;
                border: unset;
                border-radius: 5px;
                background-color: $gray;
                color: $white;
                padding: 20px;

                
                &:focus{
                    +label{
                        font-size: 10px;
                        top: 4px
                    }
                }
            }
            label{
                position: absolute;
                color: $gray2;
                top: 16px;
                left: 20px;
                transition: font-size .2s ease-in-out;
            }
            label.valid{
                font-size: 10px;
                top: 4px;
            }

            span{
                position: absolute;
                top: 16px;
                right: 20px;
                color: $gray2;
                &:hover{
                    cursor: pointer;
                }
            }
            .error{
                color: $secondary;
                font-size: 13px;
                margin-top: 5px;
            }

            &:last-of-type{
                margin-bottom: 40px;
            }


        }
    }
    .submit{
        input{
            border: unset;
            border-radius: 5px;
            width: 100%;
            height: 50px;
            display: block;
            color: $white;
            font-size: 1rem;
            font-weight: bold;
            background-color: $primary;
            &:hover{
                cursor: pointer;
            }
        }
        
    }

    .actions{
        font-size: 13px;
        margin-top: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $gray3;
        .remember{
            input[type='checkbox']{
                background-color: $white;
            }
        }
    }

    .help{
        a{
            color: $gray3;
            text-decoration: none;
            font-size: 13px;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.bottom-content{ 
    margin-top: 35px;
    .facebook{
        display: flex;
        justify-content:left;
        line-height: 1rem;
        font-size: 13px;
        margin-bottom: 25px;
        a{  
            text-decoration: none;
            display: flex;
            align-items: center;
            span {
                color: $gray4;
                &:hover{
                cursor: pointer;
                }
            }
            i {
                color: $fbBlue;
                font-size: 1.5rem;
                margin-right: 10px;
            }
        }
    }
    .new-user{
        margin-top: 15px;
        color: $gray4;
        a{
            color: $white;
            text-decoration: none;
            margin-left: 10px;
            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }

        }
    }
    .captcha{
        margin-top: 15px;
        color: #8c8c8c;
        font-size: 13px;
        height: 148px;
        margin-bottom: 0;
        a{
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}