// Fonts
$mainFont: Helvetica, sans-serif;

// Media Queries
$phone  : 440px;
$tablet : 740px;
$desktop: 1200px;

//Colors
$primary:  #E50914;
$secondary:#E87C03;
$gray:     #333333;
$gray2:    #8c8c8c;
$gray3:    #b3b3b3;
$gray4:    #757575;
$white:    #ffffff;
$black:    #000000;
$black2:   rgba(0, 0, 0, 0.75);
$fbBlue:   #4267b2;