// Fonts
$mainFont: Helvetica, sans-serif;

// Media Queries
$phone  : 440px;
$tablet : 740px;
$desktop: 1200px;

//Colors
$primary:  #E50914;
$secondary:#E87C03;
$gray:     #323232;
$gray2:    #8c8c8c;
$gray3:    #454545;
$white:    #ffffff;